{% extends "main.html" %}
{% block extrahead %}
<script>
    // Redirects object
    const redirects = {
        "/vale-at-red-hat/docs/main/contributor-guide/contributing/": "/vale-at-red-hat/contributor-guide.html",
        "/vale-at-red-hat/docs/main/contributor-guide/extending-styles/": "/vale-at-red-hat/contributor-guide.html",
        "/vale-at-red-hat/docs/main/contributor-guide/extending-the-spelling-rule/": "/vale-at-red-hat/contributor-guide.html",
        "/vale-at-red-hat/docs/main/contributor-guide/vale-at-red-hat-repository/": "/vale-at-red-hat/contributor-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/abbreviations/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/casesensitiveterms/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/conjunctions/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/consciouslanguage/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/contractions/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/definitions/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/donotuseterms/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/ellipses/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/emdashes/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/headingpunctuation/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/headings/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/hyphens/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/mergeconflictmarkers/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/oxfordcomma/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/pascalcamelcase/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/passivevoice/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/productcentricwriting/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/readabilitygrade/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/releasenotes/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/repeatedwords/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/selfreferentialtext/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/sentencelength/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/simplewords/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/slash/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/smartquotes/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/spacing/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/spelling/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/symbols/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/termserrors/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/termssuggestions/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/termswarnings/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/userreplacedvalues/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/reference-guide/using/": "/vale-at-red-hat/reference-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/adding-vale-configuration-to-a-project/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/analyze-with-vale/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/asciidoc-style-for-vale/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/collating-vale-output/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/creating-a-vocabulary-for-a-project/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/defining-a-vale-onboarding-strategy/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/gitlab-code-quality-reports/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/glossary/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/installing-redhat-style-for-vale/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/installing-vale-cli/": "/vale-at-red-hat/user-guide.html#installing-vale-cli",
        "/vale-at-red-hat/docs/main/user-guide/introduction/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/openshift-asciidoc-style-for-vale/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/redhat-style-for-vale/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/reporting-vale-alerts/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/understanding-vale-output/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/using-vale-app/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/using-vale-cli/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/using-vale-github-action/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/using-vale-in-the-ide/": "/vale-at-red-hat/user-guide.html",
        "/vale-at-red-hat/docs/main/user-guide/using-vale-with-a-continuous-integration-service/": "/vale-at-red-hat/user-guide.html",
    };

    (function redirect(){
            const currentPath = window.location.pathname + (window.location.hash ? window.location.hash : '');
            const redirectUrl = redirects[currentPath];
            if (redirectUrl) {
                window.location.href = `${window.location.origin}${redirectUrl}`;
                return;
            }
    })();
</script>
{% endblock %}
{% block content %}
  <h1>Oops! That's a 404</h1>
{% endblock %}
