[submodule "styles/write-good"]
	path = styles/write-good
	url = git@github.com:errata-ai/write-good.git
[submodule "styles/proselint"]
	path = styles/proselint
	url = git@github.com:errata-ai/proselint.git
[submodule "styles/Joblint"]
	path = styles/Joblint
	url = git@github.com:errata-ai/Joblint.git
[submodule "styles/Microsoft"]
	path = styles/Microsoft
	url = git@github.com:errata-ai/Microsoft.git
[submodule "styles/Google"]
	path = styles/Google
	url = git@github.com:errata-ai/Google.git
