# A preliminary .gitignore file borrowed from https://github.com/asciidoctor/asciidoctor/blob/master/.gitignore under MIT License
.cache/
.DS_Store
.vale/styles/RedHat.zip
.vscode/settings.json
/*.gem
/*.html
/.bundle
/.idea/
/.ruby-gemset
/.ruby-version
/.yardoc/
/build/
/Gemfile.lock
/node_modules/
/pkg/
/rdoc/
/shippable/
/tools/__pycache__/
/tools/ssg_utils/__pycache__/
/tools/ssg_utils/temp/
/tools/temp/
package-lock.json
package.json
vale-report*
workspace.code-workspace