# A preliminary .gitignore file borrowed from https://github.com/asciidoctor/asciidoctor/blob/master/.gitignore under MIT License
.cache/
.DS_Store
.vale/styles/RedHat.zip
/.bundle
/.idea/
/.ruby-gemset
/.ruby-version
/.yardoc/
/*.gem
/*.html
/build/
/Gemfile.lock
/rdoc/
/shippable/
pkg/
workspace.code-workspace