{{- /* Modify Vale output https://docs.errata.ai/vale/cli#--output */ -}}

{{- /* Keep track of our various counts */ -}}

{{- $e := 0 -}}
{{- $w := 0 -}}
{{- $s := 0 -}}
{{- $f := 0 -}}

{{- /* Range over the linted files */ -}}

[
{{- $first := true -}}
{{- range $jdx, $file := .Files -}}
  {{- $f = add1 $f -}}
  {{- $path := $file.Path -}}

  {{- /* Range over the file's alerts */ -}}
  {{- range $idx, $a := $file.Alerts -}}
    {{- if not $first -}},{{- end -}}
    {{- $first = false -}}

    {{- $error := "" -}}
    {{- if eq $a.Severity "error" -}}
      {{- $error = "critical" -}}
      {{- $e = add1 $e -}}
    {{- else if eq $a.Severity "warning" -}}
      {{- $error = "major" -}}
      {{- $w = add1 $w -}}
    {{- else -}}
      {{- $error = "minor" -}}
      {{- $s = add1 $s -}}
    {{- end}}

    {{- /* Variables setup */ -}}

    {{- $loc := printf "%d" $a.Line -}}
    {{- $check := printf "%s" $a.Check -}}
    {{- $message := printf "%s" $a.Message -}}

    {{- /* Compute the Base64 encoded fingerprint string */ -}}
    {{- $hashInput := printf "%s:%s:%s" $path $loc $message -}}
    {{- $Base64Encoded := b64enc $hashInput -}}

    {{- /* Output */ -}}
    {
      "description": "{{$check}}: {{ $message }}",
      "check_name": "vale-error-report",
      "fingerprint": "{{ $Base64Encoded }}",
      "severity": "{{ $error }}",
      "location": {
        "path": "{{ $path }}",
        "lines": {
          "begin": {{ $loc }}
        }
      }
    }
  {{- end -}}
{{- end -}}
]
