<footer class="footer">
    <div>
       <a href="https://redhat-documentation.github.io/vale-at-red-hat/sitemap.xml" target="_blank">Site Map</a> |
       <a href="https://redhat-documentation.github.io/" target="_blank">Guidelines for Red Hat Documentation</a> | 
       <a href="https://github.com/redhat-documentation/vale-at-red-hat/blob/main/DCO" target="_blank">Developer Certificate of Origin</a> |
       <a href="https://github.com/redhat-documentation/vale-at-red-hat/blob/main/LICENSE" target="_blank">MIT License</a>
</footer>
