name: Publish docs
on:
  push:
    branches:
      - main
jobs:
  publication-builder:
    name: Build and publish to publication branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Ruby (for Asciidoctor CLI)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: false

      - name: Install Asciidoctor + Rouge
        run: gem install --no-document asciidoctor rouge

      - name: Install Python deps
        run: |
          python -m pip install -U pip
          pip install mkdocs mkdocs-material mkdocs-callouts mkdocs-asciidoctor-backend

      - name: Build MkDocs site
        run: |
          python -m mkdocs build -f mkdocs.yml

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: public
      - name: Commit artifact to publication branch
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          force_orphan: true # publish branch with only the latest commit
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: publication
          publish_dir: public